@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  /* ### Primary */

  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);

  /* ### Neutral */

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}

body {
  font-family: "Commissioner", sans-serif;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
