@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  /* ### Primary */

  --Moderate-cyan: #3cb4ac;
  --Dark-cyan: hsl(176, 72%, 28%);

  /* ### Neutral */

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: #7a7a7a;
}

body {
  font-family: "Commissioner", sans-serif;
}

header {
  background: url("../images/image-hero-mobile.jpg") no-repeat center
    center/cover;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 60em) {
  header {
    background-image: url(../images/image-hero-desktop.jpg);
  }

  .grid_bloc1:nth-child(1),
  .grid_bloc2:nth-child(1),
  .grid_bloc3:nth-child(1) {
    grid-area: one;
  }

  .grid_bloc1:nth-child(2),
  .grid_bloc2:nth-child(2),
  .grid_bloc3:nth-child(2) {
    grid-area: two;
  }

  .grid_bloc1:nth-child(3),
  .grid_bloc2:nth-child(3),
  .grid_bloc3:nth-child(3) {
    grid-area: three;
  }

  .grid_bloc1:nth-child(4),
  .grid_bloc2:nth-child(4) {
    grid-area: four;
  }

  .pledge_bloc_unav {
    display: grid;
    grid-template-areas:
      "one three"
      "two two";
  }

  .pledge_bloc {
    display: grid;
    grid-template-areas:
      "one three"
      "two two"
      "four four";
  }
}
